/* 1. Background Color using :root */
:root {
    background-color: rgb(135, 206, 235);
}

/* 2. Paragraph Styles */
p:first-child {
    color: white;
    background-color: black;
}

p:nth-child(2) {
    color: initial;
}

p:last-of-type {
    /* Using last-of-type because the <ul> is now the last-child of the body */
    color: red;
}

/* 3. Unordered List Styles */
li {
    background-color: gray;
    width: 50%;
    padding: 10px;
}

/* Every odd item having a white background */
li:nth-child(odd) {
    background-color: white;
}

/* First and last items: Font size of 22px */
li:first-child, 
li:last-child {
    font-size: 22px;
}

/* Third-to-last item: Pink background color */
li:nth-last-child(3) {
    background-color: pink;
}
